body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Caveat', cursive;
}

/* Header */
.pc-nav {
    margin: 0 0 0 auto;
  }
  .sp-nav {
    display: none;
  }

.site-header {
    z-index: 2;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #3333339a;
}

.site-logo {
    margin-left: 20px;
}

.site-logo a {
    text-decoration: none;
    color: #ffffff;
}

.nav-menu {
    display: flex;
    font-size: 16px;
    list-style: none;
    margin-right: 20px;
}

.nav-menu-items {
    margin-left:30px;
}

.nav-menu-items a {
    text-decoration: none;
    color: #ffffff;
}

/* SlideShow */
.swiper-container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
}

.swiper-slide::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.644);
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-title {
  font-family: 'Caveat', cursive;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 100px;
  z-index: 1;
}

/* Profile */
#profile {
    width: 1200px;
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .profile-img {
      width: 280px;
      border-radius: 10px;
  }

  .border-line{
      border: solid 1px #aaa;
        width: 80%;
        margin-top: 50px;
        margin-bottom: 50px;
  }

/* Works */
.sub-title {
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    margin-top: 32px;
  }
  
  #works {
    width: 1200px;
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .work {
    margin: auto;
    width: 380px;
    min-width: 260px;
  }
  
  .work-title {
    font-size: 32px;
    margin-top: 32px;
    font-weight: lighter;
    text-align: center;
  }
  
  .work-img {
    width: 100%;
    border-radius: 20px;
    margin: 32px 0;
  }

  /* Access */
  #access {
    width: 1200px;
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .access-information p{
    line-height: 30px;
  }
  
  #map{
    width: 600px;
    height: 450px; 
  }

  /* Promotion */
  #promotion {
    width: 1200px;
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .access-information p{
    line-height: 30px;
  }
  /* Footer */
.site-footer {
    margin-top: 6rem;
    background-color: #333333;
    width: 100%;
    height: 60px;
  }
  
  .copyright {
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
  }
  
  @media screen and (max-width:480px) {
	/*　画面サイズが480px以下の場合ここの記述が適用される　*/
    .pc-nav {
        display: none;
      }
      .sp-nav {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: block;
        width: 100%;
        background: rgba(0, 0, 0, 0.8);
        transition: all 0.2s ease-in-out;
        opacity: 0;
        transform: translateY(-100%);
      }
      .sp-nav ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      .sp-nav li {
        margin: 0;
        padding: 0;
      }
      .sp-nav li span {
        font-size: 15px;
        color: #fff;
      }
      .sp-nav li a,
      .sp-nav li span {
        display: block;
        padding: 20px 0;
      }
      /*基準となるli要素*/
      .sp-nav .close {
        position: relative;
        padding-left: 20px;
      }
      /*バツ印線1*/
      .sp-nav .close::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 16px;
        height: 1px;
        background: #fff;
        transform: rotate(45deg);
      }
      /*バツ印線2*/
      .sp-nav .close::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 16px;
        height: 1px;
        background: #fff;
        transform: rotate(-45deg);
      }
      #hamburger {
        position: relative;
        display: block;
        width: 30px;
        height: 25px;
        margin: 0 20px 0 auto;
      }
      #hamburger span {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        transform: translateY(-50%);
      }
      #hamburger::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
      }
      #hamburger::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 70%;
        height: 2px;
        background-color: #fff;
      }
      .toggle {
        transform: translateY(0);
        opacity: 1;
      }
    
    .swiper-slide img {
        height: 100vh;
    }

    #profile {
        margin: 0 20px;
        width: auto;
    }
    #works {
        margin: 0 20px;
        width: auto;
    }

    #access {
        margin: 0 20px;
        width: auto;
    }

    #map{
        width: 100%;
        height: 100%;
    }
    
    #promotion {
        margin: 0 20px;
        width: auto;
    }
}